/* REFERENCIA PARA VW É WIDTH DE 769PX E HEIGTH DE 788PX */
/* MINIMO TAMANHO DE TELA É DE WIDTH 576PX E HEIGHT DE 667.69*/

html {
    font-size: 2.03565vw; /* 16px = 2.03565vw */    
    font-family: 'Rambla', sans-serif;
    color:#000000;    
}

h2 {
    font-size: 1.125rem; /* 18px */ 
    font-weight: 700;
}

h3 {
    font-size: 0.875rem; /* 14px */
}

h4 {
    font-size: 0.75rem; /* 12px */
}

p {
    font-size: 0.6875rem; /* 11px */
}

.nIcones, #iconeEu, #localInfo, #localEmp, .dataSection, .dataInst {
    color: #666666;
}

body {
    background-color: #F3F2EE;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
/*============================ NAV ============================================================================*/
nav {
    height: 7.5064vw; /* 59px = 7.5064vw */ 
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu {
    height: 7.5064vw; /* 59px = 7.5064vw */ 
    width: 90.96810938vw; /* 715px = 90.96810938vw */
    display: flex;
    align-items: center;
}

#iconeLinkedin {
    width: 4.32575625vw ; /* 34px = 4.32575625vw */
    height: 4.32575625vw;    
}

#iconeLinkedin:hover {
    cursor: pointer;
}

#iconeLinkedin img {
    width: 4.32575625vw ; /* 34px = 4.32575625vw */
    height: 4.32575625vw;
}

#pesquisar {
    margin-left: 1.0417% ; /* 8px = 1.0417% para calculo com width 768 do pai */
    background-color: #EEF3F7;
    height: 4.32575625vw; /* 34px = 4.32575625vw */
    width: 29.89860938vw; /* 235px = 29.89860938vw ( 235px - 34px do padding)*/
    border-radius: 0.5089125vw /* 4px = 0.5089125vw */
}

#pesquisar form {
    display: flex;
    align-items: center;
}

#pesquisar input {
    height: 4.32575625vw; /* 34px = 4.32575625vw */
    width: 100%;
    padding: 0;
    padding-left: 4.32575625vw; /* 34px = 4.32575625vw */
    border: none;
    background-color: #EEF3F7;
    border-radius: 0.5089125vw; /* 4px = 0.5089125vw */
    background-image: url(/assets/loupe.png);
    background-repeat: no-repeat;
    background-position: 7%;
    background-size: 1.399509375vw; /* 11px = 1 .399509375vw */
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

#icones {
    display: flex;
    margin-left: 11.328125% ; /* 87px = 11.328125% para calculo com width 768 do pai */
    margin-right: 7.8125%; /* 111px = 14.453125% para calculo com width 768 do pai */
    justify-content: space-between;
    flex-grow: 1;    
}

.nIcones {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.nIcones:hover {
    filter: brightness(0);
    cursor: pointer;
}

#iconeEu:hover {
    cursor: pointer;
    color: black;
}

.nIcones img {
    width: 2.5445625vw ; /* 20px = 2.5445625vw */
    height: 2.5445625vw;  
}

figcaption {
    text-align: center;
    font-size: 1.27228125vw; /* 10px = 1.27228125vw */
    padding-top:  0.636140625vw; /* 5px = 0.636140625vw*/
    font-family: 'Ropa Sans', sans-serif;
}

#iconeEu img {
    width: 3.230322094vw ; /* 25.39px = 7.5064vw */
    height: 3.230322094vw;
    border-radius: 50%;
}

#iconeEu figcaption {
    padding-top:  0.3320654063vw; /* 2.61px = 0.3320654063vw*/
}
/*============================ NAV ============================================================================*/
/*============================ MAIN ===========================================================================*/
.container { /*FIGMA H: 887PX // W: 717PX*/
    background-color: #F3F2EE;
    height: 112.597vw; /* 887px = 112.597vw */
    width: 91.22256563vw;    /* 717px = 91.22256563vw */
    margin-top: 4.8346vw; /* 38px = 4.8346vw */
    margin-bottom: 4.8346vw; /* 38px = 4.8346vw*/    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
/*============================ HEADER =========================================================================*/
header { /*FIGMA H: 320PX // W: 717PX*/ 
    background-color: #FFFFFF;
    height: 40.713vw; /* height: 320px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: space-between;
}

#planoDeFundo {
    width: 100%;
    height: 17.17579688vw; /* 135px = 17.17579688vw */
}

#planoDeFundo img {
    width: 100%;
    height: 100%;   
}

#perfil{
    width: 13.5676vw; /* 106.64px = 13.5676vw */ 
    height: 13.5676vw; /* 106.64px = 13.5676vw */ 
    position: absolute;    
    top: 18.4375%; /* 59px = 7.5064vw // 59px = 18.4375% para calculo com 320 height do pai */    
    left: 4.378%; /* 31.38px = 3.9924vw // 31.38px = 4.376569038% para calculo com 717 width do pai */ 
}

#perfil:hover {
    cursor: pointer;
}

#perfil img{
    width: 13.5676vw; /* 106.64px = 13.5676vw */ 
    height: 13.5676vw; /* 106.64px = 13.5676vw */ 
    border-radius: 50%; 
}

#informacao {  /* H: 142PX // W: 717PX */
    width: 100%;
    height: 18.06639375vw; /* 142px = 18.06639375vw */
}

#nomeInfo {  /* IGMA H: 25PX // W: 127PX */
    margin-bottom: 1.255230126%; /* 9px = 1.255230126% para calculo com 717 width do pai */
    margin-left: 3.068340307%; /* 22px = 3.068340307% para calculo com 717 width do pai */
}

#profissaoInfo { /* FIGMA H: 34PX // W: 341PX */
    margin-bottom: 0.97629%; /* 7px = 0.6973500697% para calculo com 717 width do pai */
    margin-left: 3.068340307%; /* 22px = 3.068340307% para calculo com 717 width do pai */   
}

#localInfo { /* FIGMA H: 13PX // W: 134PX */
    margin-bottom: 1.534170153%; /* 11px = 1.534170153% para calculo com 717 width do pai */
    margin-left: 3.068340307%; /* 22px = 3.068340307% para calculo com 717 width do pai */  
}

#configInfo { /* FIGMA H: 21PX  */
    margin-top: 3.347280335%; /* 24px = 3.068340307% para calculo com 717 width do pai (o que deixa 26px de margin-bottom como no FIGMA)*/
    margin-left: 3.068340307%; /* 22px = 3.068340307% para calculo com 717 width do pai */
    height: 14.78873239%; /* 21px = 14.78873239%% para calculo com 142 height do pai */    
}

#configInfo p{
    font-weight: 700;
}

#configInfo button{
    height: 100%;     
    border-radius: 1.950585176vw ; /* 15px */
    margin-right: 1.960784314%; /*14px = 1.960784314% para calculo com 717 width do pai */  
}

#configInfo button:nth-child(1) {
    border:none;
    background-color: #0B65C2;
    color: white;
    padding: 0.5755395683% 2.302158273% ; /* Vertical: 16px = 2.302158273% // Horizontal 4px = 0.5755395683% para calculo com 695 width do pai */
}

#configInfo button:nth-child(n+2) {
    padding: 0.4316546763% 2.158273381%; /* Vertical: px = 2.158273381% // Horizontal 3px = 0.4316546763% para calculo com 695 width do pai */
    border-width: 0.1300390117vw; /* 1px */
    border-color: #666666;
    color: #666666;
    background-color: white;    
}

#configInfo button:nth-child(1):hover {
    background-color: #084583;
}

#configInfo button:nth-child(n+2):hover {
    background-color: #eeeeee;
    box-shadow: 0 0 0 0.1300390117vw;
}

button:active {
    border-style: outset;
 }

 #configInfo button:nth-child(n+2):active {
    border-color: black;
    box-shadow: 0 0 0 0.1300390117vw;
    color: black;
}
/*============================ HEADER ============================================================================*/
/*============================ SECTION ===========================================================================*/

section {
    background-color: #FFFFFF;
    height: 68.067vw; /* height: 535px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

section h4 {
    font-weight: 700;
}

section img {
    width: 4.452984375vw; /* 35px = 4.452984375vw */ 
    height: 4.452984375vw; /* 35px = 4.452984375vw */ 
}

#experiencia {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: #EBEBEB 0.1272264631vw solid; /* 1px = 0.1272264631vw para calculo da borda sobre um valor de 786 */
    padding-bottom: 4.741980474%; /* 34px = 4.184100418% para calculo com 717 width do pai */
}

.titulo {
    width: 100%; 
    margin-top:2.231520223%; /* 16px = 2.231520223% para calculo com 717 width do pai */
    margin-left: 2.928870293%; /* 21px = 2.928870293% para calculo com 717 width do pai */ 
    margin-bottom: 4.184100418% ; /* 30px = 4.184100418% para calculo com 717 width do pai */
}

.iconeSection{
    width: 11.15760112%; /* 80px = 4.184100418% para calculo com 717 width do pai */
    display: flex;
    justify-content: center;
}

.informacaoSection {
    width: 60%; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.enquadramentoInfoSection {
    width: 87.4411303%; /* 557px = 87.4411303% para calculo com 637 width do pai para deixá-lo simetrico entre 2 espaços de 80px que é o ocupado pelo ícone a esquerda*/
}

.informacaoSection p,h4 {
    margin-bottom: 0.5385996409%; /* 3px = 4.184100418% para calculo com 557 width do pai */
    width: fit-content;
}

.informacaoSection:hover, .iconeSection:hover, .iconeSection:hover + .informacaoSection {
    text-decoration: underline #0B67C2;
    cursor: pointer;
}

#formacao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nFormacao{
    width: 100%;
    display: flex;
    padding-bottom: 2.649930265%; /* 19px = 2.649930265% para calculo com 717 width do pai */
}

.nFormacao:nth-child(n+3) .informacaoSection {
    border-top: #EBEBEB 0.1272264631vw solid; /* 1px = 0.1272264631vw para calculo da borda sobre um valor de 786 */
    padding-top: 2.649930265%; /* 19px = 4.184100418% para calculo com 717 width do pai */
}

.nFormacao:nth-child(n+3) .iconeSection {
    padding-top: 2.649930265%; /* 19px = 4.184100418% para calculo com 717 width do pai */
}
/*============================ SECTION =========================================================================*/
/*============================ MAIN ============================================================================*/